<section class="u-margin-bottom-block">
    <div class="u-flex u-flex-gap-block u-align-center u-margin-bottom">
        <blockquote class="o-brand-copy">
            Samenwerken begint <br>
            met een kop koffie <br>
            en een goed gesprek. <br>
            Dat is <strong>Koffie met Schaap</strong>
        </blockquote>
        <img class="c-flying-sheep" src="/assets/img/coffee.png"
            alt="Koffie met Schaap mascotte zweeft naar een kop koffie">
    </div>
    <div class="u-margin-bottom">
<p class="u-text-lg">Vanaf <strong>{{site.available}}</strong> ben ik weer beschikbaar voor nieuwe opdrachten</p>
</div>
    <div class="u-margin-bottom u-flex u-flex-gap u-align-center">
        <a class="o-button u-no-underline" href="mailto:{{ site.email}}">Stuur mij een bericht</a>
        <span>Of bel <a class='u-no-underline' href="tel:{{site.phone}}">{{site.phone}}</a></span>
    </div>
</section>