<footer class="c-page-footer o-page-wrap">
    <div class="c-page-footer__container">
        <p>
            Kanaalstraat 69C <br>
            3531CB Utrecht <br>
            KVK: 80026362 <br>
            BTW: NL003382661B59
        </p>
        <p>
            &#169; 2022 <strong class="o-brand-copy">{{site.short_name}}</strong>
        </p>
        <div>
            <ul class="u-reset-list u-inline-flex u-flex@md u-flex-gap u-justify-end@md u-margin-bottom-body">
                <li>

                    <a class="u-no-underline" href="https://www.linkedin.com/in/css-specialist/" rel="noreferrer" target="_blank" title="Externe link naar LinkedIn van Wouter Schaap"><i class="icon-linkedin icon--lg"></i><span class="u-screen-reader-text">(Opent in een nieuw venster)</span></a>
                </li>
                <li>

                    <a class="u-no-underline" href="https://open.spotify.com/playlist/35z62N0d9uwsoNHFXUrGeK?si=8c08ae4b075d4783" rel="noreferrer" target="_blank" title="Externe link naar Spotify playlist van Koffie met Schaap"><i class="icon-spotify icon--lg"></i><span class="u-screen-reader-text">(Opent in een nieuw venster)</span></a>
                </li>
            </ul>
            <p>
                <a href="/">Algemene voorwaarden</a>
            </p>
        </div>
    </div>
</footer>