<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" href="/assets/img/favicon-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="/assets/img/favicon-apple-180x180.png">
    <link rel="msapplication-TileImage" href="/assets/img/favicon-mstile-270x270.png">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>