<header class="c-page-header o-page-wrap u-margin-bottom">
    <div class="c-page-header__container">
    <div class="c-brand">
        <img class="c-brand__logo" src="/assets/img/favicon-apple-180x180.png" alt="Logo {{site.title}}">
        <h1 class="c-brand__title o-brand-copy">{{site.title}}</h1>
    </div>
    <span>
        <i class="icon-paper-plane"></i> <a href="mailto:{{site.email}}">{{ site.email}}</a>
        &nbsp;
        <i class="icon-phone-alt"></i> <a class="u-no-underline" href="tel:{{site.phone}}">{{ site.phone }}</a>
    </span>
</div>
</header>