<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{site.description}}">
    <title>{{ site.title }}</title>
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="preload" href="/assets/font/Poppins-Bold.woff2" as="font" crossorigin>
    <link rel="preload" href="/assets/font/Poppins-Bold.woff" as="font" crossorigin>
    <link rel="preload" href="/assets/font/Poppins-Regular.woff2" as="font" crossorigin>
    <link rel="preload" href="/assets/font/Poppins-Regular.woff" as="font" crossorigin>
<link rel="preload" href="/assets/font/PublicSans-Regular.woff2" as="font" crossorigin>
    <link rel="preload" href="/assets/font/PublicSans-Regular.woff" as="font" crossorigin>
<link rel="preload" href="/assets/font/PublicSans-Regular.woff2" as="font" crossorigin>
    <link rel="preload" href="/assets/font/PublicSans-Regular.woff" as="font" crossorigin>
    <link rel="icon" href="/assets/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" href="/assets/img/favicon-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="/assets/img/favicon-apple-180x180.png">
    <link rel="msapplication-TileImage" href="/assets/img/favicon-mstile-270x270.png">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>