<section class="c-services u-margin-bottom-block">
    <div class="c-service u-show-v-scroll">
        <div class="o-aspect-wrapper@md">
            <!-- <picture>
                <source srcset="/assets/img/css-256.webp" type="image/webp">
                <source srcset="/assets/img/css-256.png" type="image/png">
                <img class='c-service__image' src="/assets/img/css-256.png"
                    alt="Koffie met Schaap mascotte als architect naast een middeleeuwse toren." width="256"
                    height="262">
            </picture> -->
                <img class='c-service__image' srcset="/assets/img/css-256.png 1x, /assets/img/css-256@2x.png 2x" src="/assets/img/css-256.png"
                    alt="Koffie met Schaap mascotte als architect naast een middeleeuwse toren." width="256"
                    height="262">

        </div>
        <h2 class="c-service__title">CSS Architectuur</h2>
        <p>
            Wil je dat je website er goed uit ziet op alle schermen en alle devices? Wil je een codebase die simpel,
            razendsnel en ook nog eens goed te onderhouden is? Laten we samenwerken om dat mogelijk te maken.
        </p>
    </div>
    <div class="c-service u-show-v-scroll">
        <div class="o-aspect-wrapper@md">
            <!-- <picture>
                <source srcset="/assets/img/a11y-256.webp" type="image/webp">
                <source srcset="/assets/img/a11y-256.png" type="image/png">
                <img class="c-service__image" src="/assets/img/a11y-256.png"
                    alt="Koffie met Schaap mascotte in een rolstoel op een schans." width="256" height="225">
            </picture> -->
<img class="c-service__image" 
srcset="/assets/img/a11y-256.png 1x, /assets/img/a11y-256@2x.png 2x"
src="/assets/img/a11y-256.png"
                    alt="Koffie met Schaap mascotte in een rolstoel op een schans." width="256" height="225">

        </div>
        <h2 class="c-service__title">Accessibility</h2>
        <p>
            Van alle webbezoekers heeft ongeveer 15% een beperking. Hoeveel zijn daarvan geen klant omdat je site niet
            toegankelijk is? Wat moet je doen om deze groep te kunnen bedienen? Samen kijken we naar de mogelijkheden.
        </p>
    </div>
    <div class="c-service u-show-v-scroll">
        <div class="o-aspect-wrapper@md">
            <!-- <picture>
                <source srcset="/assets/img/art-256.webp" type="image/webp">
                <source srcset="/assets/img/art-256.png" type="image/png">
                <img class="c-service__image" src="/assets/img/art-256.png"
                    alt="Koffie met Schaap mascotte als schilder achter een ezel." width="256" height="206">
            </picture> -->
                <img class="c-service__image" srcset="/assets/img/art-256.png 1x,/assets/img/art-256@2x.png 2x" src="/assets/img/art-256.png"
                    alt="Koffie met Schaap mascotte als schilder achter een ezel." width="256" height="206">

        </div>
        <h2 class="c-service__title">UX Design</h2>
        <p>
            Complexe applicaties vragen om creatieve oplossingen. Heb je bij de ontwikkeling van je digitale product
            moeite met de vertaling van idee naar uitwerking? Door er samen naar te kijken komen we tot een mooi
            interactie ontwerp.
        </p>
    </div>
</section>