:root {
    --yellow-color: #ffb600;
    --white: #fff;
    --gray: #444;
    --black: #1b1b1b;
    --gray-20: #2b2b2b;
    --light-gray: #F8F8F8;
    --primary-color: var(--yellow-color);
    --font-color: var(--gray);
    --brand-copy: var(--black);
    --background-color: var(--light-gray);
    --link-color: var(--gray-20);
    --body-spacing: 0.75rem;
    --block-spacing: #{2.5 * $kms-margin};
    --transition-duration: 0.2s;
    --delay-duration: 0.05s;
    --unhide-duration: calc(3 * var(--transition-duration));

    @include breakpoint('md') {
        --block-spacing: #{4 * $kms-margin};
    }
}

* {
    box-sizing: border-box;
}

html, body, p, dd, dt, dl, blockquote {
    margin: 0;
    padding: 0;
}
