.c-brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}

.c-brand__logo {
    width: 4rem;
}

.c-brand__title {
    font-size: 1.375rem;
}