@font-face {
    font-family: 'Poppins';
    src: url('/assets/font/Poppins-Bold.woff2') format('woff2'),
        url('/assets/font/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/font/Poppins-Regular.woff2') format('woff2'),
        url('/assets/fontPoppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/font/PublicSans-Bold.woff2') format('woff2'),
        url('/assets/font/PublicSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/font/PublicSans-Regular.woff2') format('woff2'),
        url('/assets/font/PublicSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

