.c-about {
    display: grid;
    gap: var(--block-spacing);
    grid-template-areas: "copy" "companies";
    align-items: end;

    @include breakpoint("md") {
        grid-template-areas: "copy companies";
    }
}

.c-about__copy {
    grid-area: copy;
}

.c-about__companies {
    grid-area: companies;

    @include breakpoint("md") {
        p {
            text-align: right;
        }
    }
}
