.c-page-footer {
    background-color: var(--primary-color);
    padding-top: $kms-padding;
    padding-bottom: $kms-padding;
}
.c-page-footer__container{
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr;
    gap: var(--body-spacing);
    text-align: center;
    @include breakpoint('md') {
        grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr); 
    align-items: end;


    > * {
        &:first-child {
            text-align: left;
        }
        &:nth-child(2) {
            text-align: center;
        }
        &:last-child {
            text-align: right;
        }
    }
}
}