.c-page-header {
    background-color: var(--white);
    padding-top: $kms-padding;
    padding-bottom: $kms-padding;
}
.c-page-header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--body-spacing);
@include breakpoint('md') {
    flex-direction: row;
    justify-content: space-between;
}
}