.c-services {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 2.5 * $kms-padding;
    text-align: center;

    @include breakpoint('md') {

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: $kms-padding;
    }

    @include breakpoint('lg') {

    gap: 2.5 * $kms-padding;
    }
}

.c-service {
    > div:first-child {
        display: grid;
        align-items: end;
        justify-content: center;
    }
}

.c-service__image {
    width: 256px;
    @include breakpoint('md')
{

    width: 200px;
    height: auto;
}
@include breakpoint('lg') {
    width: 256px;
    height: initial;
}
}

.c-service__title {
    color: var(--brand-copy);
    font-weight: normal;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}